{{ define "main" }}

{{ if .Site.BuildDrafts }}

{{ .Content }}

<ul class="article-summary-list">
    {{ range .Paginator.Pages }}
    <hr />
    <li class="article-summary">{{ partial "post" . }}</li>
    {{ end }}
</ul>
<hr />

<div class="pure-button-group" role="group">
    <a class="pure-button"
       {{ if .Paginator.HasPrev }} href="{{ .Paginator.Prev.URL }}"
       {{ else }} disabled {{ end }}>
        Newer posts
    </a>
    <a class="pure-button"
       {{ if .Paginator.HasNext }} href="{{ .Paginator.Next.URL }}"
       {{ else }} disabled {{ end }}>
        Older posts
    </a>
</div>
{{ else }}

<p>This part of the website is under construction...</p>

{{ end }}

{{ end }}
